{% extends "base.html" %} {% block title %}authors{% endblock title %} fillerrr
{% block content %}
<section>
  <form method="get" action="" class="flexcenter">
    <input
      type="text"
      name="q"
      placeholder="Search authors..."
      value="{{ request.GET.q }}"
    />
    <button type="submit">Search</button>
  </form>
</section>
<section>
  <div class="flexend">
    <a href="{% url 'add_author' %}">Add author</a>
  </div>

  {% for author in authors %}
  <article class="gridrow">
    <p>{{author.first_name}}</p>
    <p>{{author.last_name}}</p>
    <p>{{author.age}}</p>
    <p>{{author.national_id}}</p>

    <button><a href="{% url 'author_detail' author.id %}">Details</a></button>
  </article>

  {% endfor %}
</section>
{% endblock content %}
